<div class="register-wrapper mt-3">
  <h2>Zarejestruj się</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div>
      <mat-form-field>
        <mat-label>Adres email</mat-label>
        <input matInput placeholder="test@gmail.com" formControlName="email" />
        <mat-error *ngIf="controls.email.invalid">{{
          getErrorMessage(controls.email)
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Nazwa uzytkownika</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="controls.username.invalid">{{
          getErrorMessage(controls.username)
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Hasło</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <mat-error *ngIf="controls.password.invalid">{{
          getErrorMessage(controls.password)
        }}</mat-error>
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          type="button"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!-- <ng-container formArrayName="hobbies">
      <div *ngFor="let hobby of hobbies.controls; index as i">
        <input type="text" [formControlName]="i" />
        <button
          class="btn btn-sm btn-danger"
          (click)="removeControl(i)"
          type="button"
        >
          X
        </button>
      </div>
    </ng-container> -->
    <!-- <button (click)="addControl()" type="button">Dodaj kontrolke</button> -->
    <div class="d-flex justify-content-end">
      <!-- <button type="button" (click)="enableControl()">Włącz</button> -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="registerForm.invalid"
      >
        Załóż konto
      </button>
    </div>
    <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>
  </form>
</div>
